<ValidatedForm
  @model={{changeset this.embedFile this.validations}}
  @on-submit={{this.submit}} as |f|
>
  <f.input @label="Name" @name="name" />

  <div class="form-group">
    <f.input @label="Document" @name="document" @type="file" as |fi|>
      <Inputs::Document
        @name={{fi.name}}
        @value={{fi.value}}
        @documentRequirements={{this.documentRequirements}}
        @onUpdate={{fi.update}}
        @onBlur={{fi.setDirty}}
      />
    </f.input>
  </div>

  <f.submit>
    <Button::Save @form={{f}} />
  </f.submit>
</ValidatedForm>
