<ModalDialog
  @translucentOverlay={{true}}
  @onClose={{@close}}
>
  <div local-class="container">
    <h4 local-class="title">Image Gallery</h4>

    <div local-class="wrapper">
      <div local-class="form">
        <ImageGallery::Form />
      </div>

      <div local-class="list">
        <Loader::LazyModel
          @model="embedPhoto"
          @params={{hash page=this.page perPage=this.perPage}}
          @width={{500}}
          @height={{150}} as |lazy|
        >
          <lazy.Loading as |l|>
            <l.Spinner />
          </lazy.Loading>

          <lazy.Loaded as |resources|>
            <Paginator @totalPages={{resources.meta.totalPages}} @page={{this.page}}>
              {{#each resources as |photo|}}
                <div local-class="item">
                  <div local-class="image-wrapper">
                    <Image
                      @model={{photo}}
                      @vwset={{hash hg="20vw" bg="20vw" xl="23vw" hd="23vw" lg="28vw" sm="50vw" xs="50vw"}}
                      @alt={{photo.caption}}
                      @imgClassNames="img-cover"
                    />
                  </div>

                  <div local-class="item-info-wrapper">
                    <h5>{{photo.caption}}</h5>

                    <h6>{{photo.credit}}</h6>

                    <button
                      type="button"
                      {{on "click" (fn @insert photo)}}
                      class="btn btn-primary"
                    >
                      Insert
                    </button>
                  </div>
                </div>
              {{/each}}
            </Paginator>
          </lazy.Loaded>
        </Loader::LazyModel>
      </div>
    </div>
  </div>
</ModalDialog>
