<ModalDialog
  @translucentOverlay={{true}}
  @onClose={{@close}}
>
  <div local-class="container">
    <h4 local-class="title">Image Gallery</h4>

    <div local-class="wrapper">
      <div local-class="form">
        <ImageGallery::Form />
      </div>

      <div local-class="list">
        <Loader::LazyModel
          @model="embedPhoto"
          @width={{500}}
          @height={{150}} as |lazy|
        >
          <lazy.Loading as |l|>
            <l.Spinner />
          </lazy.Loading>

          <lazy.Loaded as |resources|>
            {{#each resources as |image|}}
              <div local-class="item">
                <Responsive::Image
                  @model={{image}}
                  @vwset={{hash hg="20vw" bg="20vw" xl="23vw" hd="23vw" lg="28vw" sm="50vw" xs="50vw"}}
                  @alt={{image.caption}}
                />
              </div>
            {{/each}}
          </lazy.Loaded>
        </Loader::LazyModel>
      </div>
    </div>
  </div>
</ModalDialog>
