<Inputs::FileInput
  @uploadEndpoint={{this.uploadEndpoint}}
  @fileRequirements={{@documentRequirements}}
  @onUpdate={{this.update}}
  @onUploadProgress={{fn (mut this.progressValue)}}
  as |f|
>
  {{#if @model.document}}
    <div>
      <Document @document={{@model.document}}>
        <FaIcon @icon='file-alt' @size='4x' />
        <div>
          {{@model.document.metadata.filename}}
        </div>
      </Document>
    </div>
  {{/if}}

  {{#if this.progressValue}}
    <div class='my-2'>
      <Utils::ProgressBar @value={{this.progressValue}} />
    </div>
  {{/if}}

  {{f.input}}
</Inputs::FileInput>